<h2>Add User</h2>
<form action="/users/add" method="POST">
  <label>Username: 
    <input name="new_username"/>
  </label>
  <label>Password: 
    <input name="new_password"/>
  </label>
  <button type="submit">Add User</button>
</form>
