<!doctype html>
<html>
  <head>
    <title>LS CMS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/whitespace-reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <% message = session.delete(:message) %>
    <% if message %>
    <p class="flash"><%= message %></p>
    <% end %>
    <%== yield %>
  </body>
</html>
