<h2>Add a new document</h2>
<form action="/create/new-document" method="POST">
  <label for="filename">Filename:</label>
  <input name="filename" id="filename"/>
  <button type="submit">Create</button>
</form>

