<ul>
  <% @filenames.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a>
      <a href="/edit/<%= filename %>" class="edit_link"> Edit</a>
    </li>
  <% end %>
  <li>
    <a href="/create/new-document">New Document</a>
  </li>
</ul>
