<!doctype html>
<html>
  <head>
    <title>RB175 File-Based CMS</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <ul>
      <% @filenames.each do |filename| %>
        <li><a href="/<%= filename %>"><%= filename %></a></li> 
      <% end %>
    </ul>
  </body>
</html>
