/* styles.css */

html {
    font-family: sans-serif;
    margin: 2%;
}

p {
    margin: 1% 0%;
    padding-bottom: 10px;
}

li {
    padding-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 10px;
}

.edit_link {
    font-weight: bold;
}

.flash {
    background-color: lightgray; 
    padding: 2% 1.5%;
    font-weight: bold;
}
